#{{ ansible_managed }}

# Default editor
export EDITOR="vim"

# bash history
export HISTSIZE=10000
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoreboth:erasedups
export HISTIGNORE="pwd:exit:man *"

# Use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# grep defaults
export GREP_OPTIONS="--color=auto -I --exclude-dir=.git --exclude-dir=.svn --exclude-dir=.metadata --exclude=.DS_Store"
