---
- name: install chrony
  yum:
    name: "{{ v_chrony_package }}"
    state: present
  tags:
    - chrony
    - yum

- name: chrony configuration file update
  template:
    src: chrony.conf.j2
    dest: "{{ v_chrony_config }}"
    owner: 0
    group: 0
    mode: 0644
  notify:
    - restart chrony
  tags:
    - chrony
