http:
  routers:
    my-router:
      rule: "Host(`mattermost.trampfox.eu`)"
      entrypoints:
        - websecure
      service: mattermost
      tls:
        certResolver: myresolver
    temp-router:
      rule: "Host(`hwsrv-801609.hostwindsdns.com`)"
      entrypoints:
        - websecure
      service: mattermost
      tls:
        certResolver: myresolver

  services:
    mattermost:
      loadBalancer:
        servers:
          - url: "http://localhost:8000/"
        passHostHeader: true